#-----------------------------
# Build Artifacts & Directories
#-----------------------------

build-czip-*/

/src/build/

#-----------------------------
# Qt & IDE User Files
#-----------------------------

*.user

*.stash